default:
  image: node:18-alpine

stages:
  - install
  - build
  - deploy

cache:
  key:
    files:
      - package-lock.json
  paths:
    - node_modules/

install_dependencies:
  stage: install
  script:
    - npm ci

build_project:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - dist/
      - package.json
      - package-lock.json
    expire_in: 1 hour

deploy_to_eb:
  stage: deploy
  image:
    name: amazon/aws-cli:latest
    entrypoint: [""]
  dependencies:
    - build_project

  variables:
    AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
    AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
    S3_BUCKET_NAME: $S3_BUCKET_NAME

  before_script:
    - yum install -y zip

  script:
    - echo "Deploying to AWS Elastic Beanstalk..."
    - VERSION_LABEL="v1.0.0-${CI_COMMIT_SHORT_SHA}"
    - zip -r deploy.zip dist package.json package-lock.json
    - aws s3 cp deploy.zip s3://${S3_BUCKET_NAME}/deploy.zip
    - aws elasticbeanstalk create-application-version --application-name "SeedUp" --version-label "${VERSION_LABEL}" --source-bundle S3Bucket="${S3_BUCKET_NAME}",S3Key="deploy.zip"
    - aws elasticbeanstalk update-environment --environment-name "SeedUp-BE" --version-label "${VERSION_LABEL}"

  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
